# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [3]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np

baltimore_df=pd.read_csv('dataset/baltimore_9-24-2016_9-30-2017.csv')

boston_df=pd.read_csv('dataset/boston_9-24-2016_9-30-2017.csv')

newyork_df=pd.read_csv('dataset/new-york_9-24-2016_9-30-2017.csv')

philly_df=pd.read_csv('dataset/philadelphia_9-24-2016_9-30-2017.csv')

In [4]:
display(baltimore_df.head(3),boston_df.head(3),newyork_df.head(30),philly_df.head(3))

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,120,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
5,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
6,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,120,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
7,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,180,190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
8,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
9,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
10,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,140,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
11,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,140,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
12,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
13,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,160,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
14,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/08/2016,160,180,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
15,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/08/2016,175,175,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
16,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/08/2016,140,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
17,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/08/2016,160,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
18,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/08/2016,120,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
19,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/15/2016,120,130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
20,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/15/2016,160,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
21,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/22/2016,120,130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
22,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/22/2016,160,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
23,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/29/2016,120,130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
24,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/29/2016,130,130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
25,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,100,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
26,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/16/2017,140,150,...,NaN,NaN,PER BIN,NaN,NaN,NaN,NaN,NaN,N,NaN
27,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/16/2017,140,160,...,NaN,NaN,PER BIN,NaN,NaN,NaN,NaN,NaN,N,NaN
28,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/16/2017,150,150,...,NaN,NaN,PER BIN,NaN,NaN,NaN,NaN,NaN,N,NaN
29,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/16/2017,160,180,...,NaN,NaN,PER BIN,NaN,NaN,NaN,NaN,NaN,N,NaN

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,PHILADELPHIA,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/16/2017,140,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [7]:
# Clean your data here!
northeast_df=pd.concat([baltimore_df, newyork_df, boston_df, philly_df], ignore_index=True)

northeast_df.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [9]:
northeast_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 674 entries, 0 to 673
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   674 non-null    object
 1   City Name        674 non-null    object
 2   Type             0 non-null      float64
 3   Package          674 non-null    object
 4   Variety          672 non-null    object
 5   Sub Variety      83 non-null     object
 6   Grade            0 non-null      float64
 7   Date             674 non-null    object
 8   Low Price        674 non-null    int64
 9   High Price       674 non-null    float64
 10  Mostly Low       674 non-null    int64
 11  Mostly High      674 non-null    float64
 12  Origin           669 non-null    object
 13  Origin District  81 non-null     object
 14  Item Size        625 non-null    object
 15  Color            356 non-null    object
 16  Environment      0 non-null      float64
 17  Unit of Sale     106 non-null    object
 18  Quality          0 non-null      float64
 19  Condition        0 non-null      float64
 20  Appearance       0 non-null      float64
 21  Storage          0 non-null      float64
 22  Crop             0 non-null      float64
 23  Repack           674 non-null    object
 24  Trans Mode       0 non-null      float64
dtypes: float64(11), int64(2), object(12)
memory usage: 131.8+ KB

In [11]:
northeast_df['Type'].head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Type, dtype: float64

In [13]:
northeast_df=northeast_df.dropna(axis=1, how='all')

northeast_df.head()

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E
1,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,NaN,med,NaN,NaN,N
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,NaN,med,NaN,NaN,N
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,NaN,lge,NaN,NaN,N

In [14]:
northeast_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 674 entries, 0 to 673
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   674 non-null    object
 1   City Name        674 non-null    object
 2   Package          674 non-null    object
 3   Variety          672 non-null    object
 4   Sub Variety      83 non-null     object
 5   Date             674 non-null    object
 6   Low Price        674 non-null    int64
 7   High Price       674 non-null    float64
 8   Mostly Low       674 non-null    int64
 9   Mostly High      674 non-null    float64
 10  Origin           669 non-null    object
 11  Origin District  81 non-null     object
 12  Item Size        625 non-null    object
 13  Color            356 non-null    object
 14  Unit of Sale     106 non-null    object
 15  Repack           674 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 84.4+ KB

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [56]:
# Combine the four dataframes into one!

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [16]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
northeast_df['Unit of Sale'].value_counts()

PER BIN       71
EACH          24
SHELLACKED    11
Name: Unit of Sale, dtype: int64

               Low Price
Unit of Sale
EACH           47.916667
PER BIN       185.845070
SHELLACKED     16.000000

In [22]:
# Put your code here to find the average number of pumpkins 
#coming into terminal markets of each variety.
#What is the average number of pumpkins for each variety that 
#came into terminal markets for the year by region? Pumpkin 
#varieties include Howden and Fairytale pumpkins.

northeast_df.groupby(['Variety','City Name']).describe()

                                      Low Price                          \
                                          count        mean         std
Variety                  City Name
BIG MACK TYPE            BALTIMORE         24.0   47.916667    4.148511
                         BOSTON            29.0  200.689655   35.449263
                         NEW YORK           2.0   75.000000    0.000000
BLUE TYPE                BOSTON             7.0  260.000000    0.000000
CINDERELLA               BALTIMORE         25.0  175.840000  133.020262
                         BOSTON            14.0  260.000000    0.000000
FAIRYTALE                BALTIMORE         16.0  225.625000   21.203380
                         BOSTON            21.0  178.333333  118.346243
HOWDEN TYPE              BALTIMORE         25.0  137.600000   26.814175
                         BOSTON           132.0  163.257576   17.528438
                         NEW YORK          39.0  143.717949   17.157090
                         PHILADELPHIA      28.0  130.000000   14.907120
HOWDEN WHITE TYPE        BALTIMORE          2.0  170.000000   14.142136
KNUCKLE HEAD             BOSTON             7.0  260.000000    0.000000
                         NEW YORK           1.0  120.000000         NaN
                         PHILADELPHIA       1.0  210.000000         NaN
MINIATURE                BALTIMORE         30.0   16.066667    1.201532
                         BOSTON            28.0   15.000000    0.000000
                         NEW YORK          27.0   18.296296    3.635454
                         PHILADELPHIA      12.0   16.166667    1.114641
MIXED HEIRLOOM VARIETIES BALTIMORE          3.0  213.333333   46.188022
                         NEW YORK           1.0  200.000000         NaN
PIE TYPE                 BALTIMORE         26.0   35.769231   54.676728
                         BOSTON           114.0  162.324561   85.724863
                         NEW YORK          42.0  129.261905   80.342274
                         PHILADELPHIA      16.0   96.875000   76.506100

                                                                           \
                                         min    25%    50%     75%    max
Variety                  City Name
BIG MACK TYPE            BALTIMORE      40.0   50.0   50.0   50.00   50.0
                         BOSTON        175.0  175.0  175.0  200.00  260.0
                         NEW YORK       75.0   75.0   75.0   75.00   75.0
BLUE TYPE                BOSTON        260.0  260.0  260.0  260.00  260.0
CINDERELLA               BALTIMORE      15.0   29.0  180.0  240.00  380.0
                         BOSTON        260.0  260.0  260.0  260.00  260.0
FAIRYTALE                BALTIMORE     200.0  200.0  230.0  250.00  250.0
                         BOSTON         15.0   15.0  260.0  260.00  260.0
HOWDEN TYPE              BALTIMORE      90.0  120.0  150.0  160.00  160.0
                         BOSTON        130.0  150.0  160.0  180.00  200.0
                         NEW YORK      100.0  130.0  150.0  160.00  180.0
                         PHILADELPHIA  100.0  120.0  130.0  140.00  150.0
HOWDEN WHITE TYPE        BALTIMORE     160.0  165.0  170.0  175.00  180.0
KNUCKLE HEAD             BOSTON        260.0  260.0  260.0  260.00  260.0
                         NEW YORK      120.0  120.0  120.0  120.00  120.0
                         PHILADELPHIA  210.0  210.0  210.0  210.00  210.0
MINIATURE                BALTIMORE      15.0   15.0   16.0   16.75   18.0
                         BOSTON         15.0   15.0   15.0   15.00   15.0
                         NEW YORK       15.0   16.0   18.0   18.00   32.0
                         PHILADELPHIA   15.0   15.0   16.0   17.00   18.0
MIXED HEIRLOOM VARIETIES BALTIMORE     160.0  200.0  240.0  240.00  240.0
                         NEW YORK      200.0  200.0  200.0  200.00  200.0
PIE TYPE                 BALTIMORE      15.0   16.0   17.0   18.00  200.0
                         BOSTON         15.0  150.0  180.0  200.00  300.0
                         NEW YORK       16.0   43.5  130.0  195.00  260.0
                         PHILADELPHIA   12.0   18.0  107.5  140.00  250.0

                                      High Price              ... Mostly Low  \
                                           count        mean  ...        75%
Variety                  City Name                            ...
BIG MACK TYPE            BALTIMORE          24.0   59.166667  ...      50.00
                         BOSTON             29.0  224.827586  ...     225.00
                         NEW YORK            2.0   80.000000  ...      75.00
BLUE TYPE                BOSTON              7.0  285.000000  ...     285.00
CINDERELLA               BALTIMORE          25.0  185.120000  ...     240.00
                         BOSTON             14.0  285.000000  ...     285.00
FAIRYTALE                BALTIMORE          16.0  238.750000  ...     250.00
                         BOSTON             21.0  195.333333  ...     285.00
HOWDEN TYPE              BALTIMORE          25.0  149.200000  ...     160.00
                         BOSTON            132.0  195.984848  ...     180.00
                         NEW YORK           39.0  159.102564  ...     160.00
                         PHILADELPHIA       28.0  138.035714  ...     140.00
HOWDEN WHITE TYPE        BALTIMORE           2.0  180.000000  ...     175.00
KNUCKLE HEAD             BOSTON              7.0  285.000000  ...     285.00
                         NEW YORK            1.0  140.000000  ...     120.00
                         PHILADELPHIA        1.0  210.000000  ...     210.00
MINIATURE                BALTIMORE          30.0   16.666667  ...      16.75
                         BOSTON             28.0   18.000000  ...      15.00
                         NEW YORK           27.0   19.259259  ...      18.00
                         PHILADELPHIA       12.0   17.583333  ...      17.00
MIXED HEIRLOOM VARIETIES BALTIMORE           3.0  240.000000  ...     240.00
                         NEW YORK            1.0  200.000000  ...     200.00
PIE TYPE                 BALTIMORE          26.0   36.442308  ...      18.00
                         BOSTON            114.0  183.605263  ...     220.00
                         NEW YORK           42.0  138.595238  ...     195.00
                         PHILADELPHIA       16.0  101.750000  ...     140.00

                                             Mostly High              \
                                         max       count        mean
Variety                  City Name
BIG MACK TYPE            BALTIMORE      50.0        24.0   59.166667
                         BOSTON        285.0        29.0  221.379310
                         NEW YORK       75.0         2.0   80.000000
BLUE TYPE                BOSTON        285.0         7.0  285.000000
CINDERELLA               BALTIMORE     380.0        25.0  185.120000
                         BOSTON        285.0        14.0  285.000000
FAIRYTALE                BALTIMORE     250.0        16.0  238.125000
                         BOSTON        285.0        21.0  195.000000
HOWDEN TYPE              BALTIMORE     160.0        25.0  148.400000
                         BOSTON        225.0       132.0  176.098485
                         NEW YORK      180.0        39.0  159.102564
                         PHILADELPHIA  150.0        28.0  138.035714
HOWDEN WHITE TYPE        BALTIMORE     180.0         2.0  180.000000
KNUCKLE HEAD             BOSTON        285.0         7.0  285.000000
                         NEW YORK      120.0         1.0  140.000000
                         PHILADELPHIA  210.0         1.0  210.000000
MINIATURE                BALTIMORE      18.0        30.0   16.666667
                         BOSTON         15.0        28.0   15.000000
                         NEW YORK       32.0        27.0   19.185185
                         PHILADELPHIA   18.0        12.0   17.583333
MIXED HEIRLOOM VARIETIES BALTIMORE     240.0         3.0  240.000000
                         NEW YORK      200.0         1.0  200.000000
PIE TYPE                 BALTIMORE     200.0        26.0   36.442308
                         BOSTON        300.0       114.0  174.017544
                         NEW YORK      260.0        42.0  138.452381
                         PHILADELPHIA  250.0        16.0  101.750000

                                                                         \
                                              std    min     25%    50%
Variety                  City Name
BIG MACK TYPE            BALTIMORE       2.823299   50.0   60.00   60.0
                         BOSTON         39.593843  175.0  200.00  200.0
                         NEW YORK        0.000000   80.0   80.00   80.0
BLUE TYPE                BOSTON          0.000000  285.0  285.00  285.0
CINDERELLA               BALTIMORE     137.861138   15.0   29.00  200.0
                         BOSTON          0.000000  285.0  285.00  285.0
FAIRYTALE                BALTIMORE      21.669872  200.0  230.00  235.0
                         BOSTON        130.422391   15.0   15.00  285.0
HOWDEN TYPE              BALTIMORE      24.269322  100.0  130.00  160.0
                         BOSTON         22.601040  140.0  160.00  165.0
                         NEW YORK       16.931433  130.0  150.00  160.0
                         PHILADELPHIA   13.005646  120.0  123.75  140.0
HOWDEN WHITE TYPE        BALTIMORE       0.000000  180.0  180.00  180.0
KNUCKLE HEAD             BOSTON          0.000000  285.0  285.00  285.0
                         NEW YORK             NaN  140.0  140.00  140.0
                         PHILADELPHIA         NaN  210.0  210.00  210.0
MINIATURE                BALTIMORE       1.347625   15.0   15.00   17.0
                         BOSTON          0.000000   15.0   15.00   15.0
                         NEW YORK        3.150544   16.0   18.00   18.0
                         PHILADELPHIA    1.311372   15.0   17.50   18.0
MIXED HEIRLOOM VARIETIES BALTIMORE       0.000000  240.0  240.00  240.0
                         NEW YORK             NaN  200.0  200.00  200.0
PIE TYPE                 BALTIMORE      55.726354   15.0   16.00   17.0
                         BOSTON         92.900268   15.0  160.00  200.0
                         NEW YORK       85.456365   18.0   47.50  140.0
                         PHILADELPHIA   76.220295   12.0   19.50  120.0


                                         75%    max
Variety                  City Name
BIG MACK TYPE            BALTIMORE      60.0   60.0
                         BOSTON        225.0  285.0
                         NEW YORK       80.0   80.0
BLUE TYPE                BOSTON        285.0  285.0
CINDERELLA               BALTIMORE     340.0  380.0
                         BOSTON        285.0  285.0
FAIRYTALE                BALTIMORE     260.0  260.0
                         BOSTON        285.0  285.0
HOWDEN TYPE              BALTIMORE     160.0  170.0
                         BOSTON        195.0  225.0
                         NEW YORK      170.0  190.0
                         PHILADELPHIA  150.0  160.0
HOWDEN WHITE TYPE        BALTIMORE     180.0  180.0
KNUCKLE HEAD             BOSTON        285.0  285.0
                         NEW YORK      140.0  140.0
                         PHILADELPHIA  210.0  210.0
MINIATURE                BALTIMORE      18.0   18.0
                         BOSTON         15.0   15.0
                         NEW YORK       20.0   32.0
                         PHILADELPHIA   18.0   20.0
MIXED HEIRLOOM VARIETIES BALTIMORE     240.0  240.0
                         NEW YORK      200.0  200.0
PIE TYPE                 BALTIMORE      18.0  200.0
                         BOSTON        220.0  300.0
                         NEW YORK      200.0  300.0
                         PHILADELPHIA  150.0  250.0

[26 rows x 32 columns]

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!